@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap');
body {
    box-sizing: border-box;
}


/* .darkMode {
    --fontColor: red;
    --backgroundColor1: blue;
    --backgroundColor2: green;
} */

.background {
    background-color: #1D1D1D;
    height: 100vh;
    width: 100vw;
    margin: 0px
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C0C0C;
    margin: 0px;
    width: 100%;
    height: 15%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Title p {
    color: white;
    margin: 0px;
    padding-top: 15px;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 18px;
}

.topSideOverlay {
    width: 100%;
    height: 77%;
}

.topSideOverlayWithBackground {
    background-color: #1D1D1D;
    position: absolute;
    z-index: 5;
    height: 19.48%;
    width: 100%;
    display: none;
}

.TitleOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 3; */
    background-color: #0C0C0C;
    margin: 0px;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.TitleOverlay p {
    color: white;
    margin: 0px;
    padding-top: 15px;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 18px;
}

.main {
    width: 100%;
    height: 85%;
    overflow-y: scroll;
}

.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 21px;
    width: 100%;
    margin-right: 0px;
}

.input {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    width: 1%;
    height: 38px;
    border-radius: 21px;
    border: 0;
    outline: none;
    margin: 0px;
    background-color: #727272;
    color: white;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    padding-left: 35px;
}

.inputWidth {
    display: flex;
    align-items: center;
    width: 85%;
    position: relative;
}

.X {
    display: none;
    position: absolute;
    top: 14px;
    margin-left: 12px;
    transform: rotate(0);
    transition: transform .5s;
}

.Lupa {
    position: absolute;
    top: 0px;
    left: 0%;
    background-color: #727272;
    padding: 11px;
    border-radius: 20px;
}

.Moon {
    position: absolute;
    left: 40px;
    width: 30px;
    height: 30px;
    background-color: #727272;
    margin-left: 10px;
    padding: 5px;
    border-radius: 20px;
}

.heart {
    position: absolute;
    left: 90px;
    width: 30px;
    height: 30px;
    background-color: #727272;
    margin-left: 10px;
    padding: 5px;
    border-radius: 20px;
}
.goBack{
    display: none;
    position: absolute;
    left: 140px;
    width: 30px;
    height: 30px;
    background-color: #727272;    
    margin-left: 10px;
    padding: 5px;
    border-radius: 20px;
    transform: rotate(0);
    transition: transform 5s;
}

.input::placeholder {
    color: #D9D9D9;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
}

.resultBackground {
    display: none;
    position: absolute;
    top: -177px;
    background-color: #727272;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 15px;
    justify-content: center;
    z-index: 4;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-height: 195px;
    overflow-y: scroll;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0px;
    top: 0px;
    width: 90%;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 18px;
    color: white;
}

.result p {
    margin: 0px;
    background-color: rgba(29, 29, 29, 0.7);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    border-radius: 30px;
}

.quoteOfTheDay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 85%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.qotd {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 18px;
    color: white;
    margin: 0px;
}

.FavQuote {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 12px;
    color: #1A73E8;
    text-decoration: underline;
    margin: 0px;
}

.theQuote {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background-color: #2E2E2E;
    width: 85%;
    min-height: 364px;
    padding-top: 18px;
    border-radius: 20px;
}

.quote {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-weight: 900;
    min-height: 282px;
    font-size: 28px;
    color: white;
    margin: 0px;
    margin-top: 23px;
    width: 85%;
    text-align: center;
}

.author {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin: 0px;
    padding-bottom: 33px;
    padding-top: 9px;
}

.openQuote {
    position: absolute;
    top: 17px;
    left: 12px;
}

.closeQuote {
    position: absolute;
    top: 17px;
    right: 12px;
}

.reroll {
    position: absolute;
    bottom: -15px;
    right: -15px;
    background-color: #1A73E8;
    border-radius: 30px;
    padding: 14px;
    transform: rotate(0);
    transition: transform .5s;
}

.listOfQuotesTitle {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 18px;
    color: white;
    margin: 0px;
    padding-left: 33px;
    padding-top: 21px;
}

.listOfQuotes{
    display: flex;
    flex-direction: column;
}

.QuotesList {
    display: flex;
    gap: 12px;
    padding-top: 20px;
    padding-left: 33px;
    overflow-x: scroll;
    padding-right: 20px;
    margin-bottom: 20px;
}

.QuotesList::-webkit-scrollbar {
    display: none;
}

.quoteInTheList {
    display: flex;
    position: relative;
    align-items: center;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 12px;
    background-color: #2E2E2E;
    height: 145px;
    border-radius: 20px;
}

.quoteInTheListText {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 12px;
    color: white;
    margin: 0px;
    text-align: left;
    inline-size: 110px;
    overflow-wrap: break-word;
    padding-right: 25px;
    padding-left: 15px;
}

.closedQuote {
    position: absolute;
    top: -6px;
    right: 5px;
}

.ArrowRight {
    position: absolute;
    background-color: #1A73E8;
    padding-inline: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 40px;
    bottom: 6px;
    right: 5px;
}

.overlay {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.quoteOverlay {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.overlayTop {
    position: absolute;
    z-index: 5;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.searchResults {
    display: none;
    flex-direction: column;
    margin-top: 16px;
}

.searchResults h1 {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 18px;
    color: white;
    margin: 0px;
    margin-left: 30px;
}

.quoteSearchResults {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 16px;
}

.quotesSearchResults {
    margin: 0px;
    display: flex;
    position: relative;
    background-color: #2E2E2E;
    width: 40%;
    height: 128px;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.quotesSearchResultsBigBoy {
    width: 85%;
    background-color: #2E2E2E;
}

.quoteTextSearchResults {
    display: -webkit-box;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 12px;
    color: white;
    margin: 0px;
    text-align: left;
    inline-size: 107px;
    padding-left: 20px;
    overflow: hidden;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}

.quoteTextSearchResultsBigBoy {
    inline-size: 290px;
}

.quotePopUp {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    z-index: 5;
    background-color: #1D1D1D;
    height: 73vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.popUpQuote::-webkit-scrollbar {
    display: none;
}


/* .lightMode {
    --fontColor: blue;
    --backgroundColor: red;
    --backgroundColor2: gray;
} */

.popUpText {
    position: relative;
    width: 74.79%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 35px 0;
    height: 100%;
    justify-content: center;
}

.popUpQuote {
    font-family: 'Inter';
    font-weight: 900;
    max-height: 48vh;
    display: flex;
    font-size: 28px;
    overflow: scroll;
    color: white;
    text-align: center;
    margin: 0px;
}

.popUpAuthor {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 10px;
}

.popUpOpenQuote {
    position: absolute;
    top: -10px;
    left: -30px;
}

.popUpCloseQuote {
    position: absolute;
    top: -10px;
    right: -30px;
}

.popUpX {
    position: absolute;
    top: 20px;
    right: 20px;
}

.addToFavorite {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 18px;
    color: white;
    width: 79%;
    height: 53px;
    background-color: #1A73E8;
    border: 0px;
    border-radius: 7px;
    margin-bottom: 35px;
}

/* ____________________ LIGHT MODE ______________________ */

.TitleLightMode {
    background-color: #e1cdb4;
}

.TitleLightMode p {
    color: #2c2825;
}

.backgroundLightMode {
    background-color: #F7ECDE;
}

.heartLightMode {
    background-color: #83d9b1;
}

.MoonLightMode {
    background-color: #83d9b1;
}

.LupaLightMode {
    background-color: #83d9b1;
}

.inputLightMode {
    background-color: #83d9b1;
    color: white;
}

.inputLightMode::placeholder {
    color: white;
}

.qotdLightMode {
    color: #2c2825;
}

.theQuoteLightMode {
    background-color: #e1cdb4;
}

.quoteLightMode {
    color: #503c2b;
}

.authorLightMode {
    color: #503c2b;
}

.rerollLightMode {
    background-color: #83d9b1;
}

.listOfQuotesTitleLightMode {
    color: #2c2825;
}

.quoteInTheListLightMode {
    background-color: #e1cdb4;
}

.quoteInTheListTextLightMode {
    color: #503c2b;
}

.ArrowRightLightMode {
    background-color: #83d9b1;
}

.resultBackgroundLightMode {
    background-color: #83d9b1;
}

.topSideOverlayWithBackgroundLightMode {
    background-color: #F7ECDE;
}

.TitleOverlayLightMode {
    background-color: #e1cdb4;
}

.TitleOverlayLightMode p {
    color: #2c2825;
}

.searchResultsLightMode h1 {
    color: #2c2825;
}

.searchResultsLightMode {
    /* display: none;
    flex-direction: column;
    margin-top: 16px; */
}

.quotePopUpLightMode {
    background-color: #e1cdb4;
}

.popUpQuoteLightMode {
    color: #503c2b;
}

.popUpAuthorLightMode {
    color: #503c2b;
}

.addToFavoriteLightMode {
    color: white;
    background-color: #52c18d;
}

.quotesSearchResultsLightMode {
    position: relative;
    background-color: #e1cdb4;
}

.quoteTextSearchResultsLightMode {
    color: #503c2b;
}

.quoteTextSearchResultsBigBoyLightMode {
    color: #503c2b;
}

.openQuoteLightMode{
    filter: invert(91%) sepia(10%) saturate(2373%) hue-rotate(345deg) brightness(96%) contrast(84%);
}

.popUpXLightMode{
    filter: invert(91%) sepia(10%) saturate(2373%) hue-rotate(345deg) brightness(96%) contrast(84%);
}

.resultLightMode p {
    background-color: rgb(33 76 46 / 49%);
}

.goBackLightMode{
    background-color: #83d9b1;
}