@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap%');
.upper{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 129px;
    width:100%;
    border-radius: 0px 0px 20px 20px;
    align-items: center;
    position: fixed;
    z-index: 3;
}
.body{
    display: flex;
    margin: 0%;
    background-color:  #1D1D1D;
    flex-direction: column;
}
.upper p{
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0em;

}

.favorite{
    animation: displayFlex  .5s;
    height: 100%;
    overflow: hidden;
    max-height: 209px;
    transition: .5s max-height;
}
.buttonDragOpen{
    animation: displayFlex  .5s;
    height: 100%;
    overflow: hidden;
    max-height: 75%;
    transition: .5s max-height;
}
.closeFavorite {
    max-height: 0;
    animation: displayNone .5s;
}
.fav{
    font-family: Inter;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0em;
    color: white;

}
.imgsfavsong{
    display: flex;

    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.songname{
    margin: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 900;
    line-height: 15px;
    letter-spacing: 0em;
    color: white;
    max-width: 116px;
    max-height: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.artist{
    margin: 0;
    font-family: Inter;
    font-size: 8px;
    font-weight: 900;
    line-height: 10px;
    letter-spacing: 0em;
    color:#B0B0B0 ;
    max-width: fit-content;
    text-overflow: ellipsis;
}
.cover{
    display: flex;
    width: 135px;
    border-radius: 20px;
}
.Placeholder {
    display: flex;
    width: 95%;
    height: 38px;
    border-radius: 12px;
    align-items: center;
    flex-direction: row;
    box-sizing:border-box;
    border: 0;
    background: #727272;
    outline: none;
    color: #D9D9D9;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
  }

.searchbar input {
    padding-left: 35px;
}

.searchbar input::placeholder {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
}
.searchbar{
    display: flex;
    position: relative;
    margin-top: 15px;
    align-items: center;
    width: 100%;

}
.lupa{
position: absolute;
right: 8%;
height: 17.5px;
width: 17.5px;
}
.imgsTrensong{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    width: fit-content;

}
.tren{
    font-family: Inter;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0em;
    color: white;
}
.trending{
    display: flex;
    flex-direction: column;
}
.gridTrending{
    gap: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(10, 1fr);
    padding-bottom: 15px;
    overflow-x: scroll;
    overflow-y: scroll;
    row-gap: 60px;
}
.backGroundPopup{
    height: 100vh;
    width: 100vw;
    z-index: 200;
    position: fixed;
    display: flex;
    background: #0000008A;
    /* background-color: #B0B0B0; */
    /* display: none; */
    /* align-items: flex-end; */
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.backGroundPopup.visible{
    opacity: 1;
    pointer-events: all;
}
.infoPopup{

    display: flex;
    background-color:#1D1D1D ;
    height: 70%;
    width: 100vw;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px ;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100vh;
    transition: 0.5s;
    position: relative;
}

.infoPopup.visible{
    margin-top: 30vh;
}
.overButtonDrag{
    display: flex;
    width: 100%;
    justify-content: center;
}
.butonDrag{
    margin-top: 12px;
    z-index: 2;
    background: #727272;
    width: 63px;
    height: 7px;
    border-radius: 20px;
    margin-bottom: 34px;
}
.fundalPopup{
    pointer-events:none;
    top: 24%;
    opacity: 100%;
    position: absolute;
    width: 100vw;
    z-index: 0;
    border-radius: 20px 20px 0px 0px
}
.coverAll{
    margin-top:130px ;
margin-left: 22px;
}
.songfoto{
    height: 174px;
    width: 174px;
    margin-bottom: 8px;
    opacity: 100%;
    z-index: 6;
    border-radius: 20px;
}
.pozamelodie{
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
}
.information{
    z-index: 2;
    padding-left: 9%;
    width: 100vw;
}
.title{
    font-family: Inter;
    font-size: 12px;
    font-weight: 900;
    line-height: 15px;
    letter-spacing: 0em;
    margin: 0;
    color:  #BEBDBD;
}
.ARTIST{
    font-family: Inter;
    font-size: 12px;
    font-weight: 900;
    line-height: 15px;
    letter-spacing: 0em;
    margin: 0;
    color:  #BEBDBD;
}
.Album{
    font-family: Inter;
    font-size: 12px;
    font-weight: 900;
    line-height: 15px;
    letter-spacing: 0em;
    margin: 0;
    color:  #BEBDBD;
}
.titlename{
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    margin: 0;
    color: white;
}
.artistname{
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    margin: 0;
    color: white;
}
.AlbumName{
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    margin: 0;
    color: white;
    word-wrap: normal;
    width: 300px;
}
.positionintop{
    font-family: Inter;
    font-size: 12px;
    font-weight: 900;
    line-height: 15px;
    color:  white;
    margin: 0;
}
.titlnr{
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonPlay{
    z-index: 7;
    margin-bottom: 24px;
    width: 100%;
    display: flex;
    justify-content:flex-end ;
}
.buttonPlay img{
   margin-right:11%;
}
.buttonFavorite{
    display: flex;
    background-color: #1A73E8;
    height:53px ;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    width:79% ;
    color: white;
    font-family: Inter;
    font-weight: 900;
}
.buttonFavoriteRed{
    background-color: red;
}
.buttonFavorite p{
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
}
.buttonFavoriteOver{
    z-index: 2;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.buttonFavoriteOver p{
    font-family: Inter;
    font-size: 12px;
    font-weight: 900;
    line-height: 15px;
    color: white;
}
.ics{
    display: none;
    position: absolute;
    bottom: 12px;
    left: 10px;
    height: 12px;
    width: 12px;
}
.skeleton{
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
  }
  @keyframes skeleton-loading {

    0%{
      background-color: hsl(200, 20%, 70%);
    }

    100%{
      background-color: hsl(200, 20%, 95%);
    }
  }

  .actualFavSongs{
    display: flex ;
    overflow-x:auto;
  }

  .actualFavSongs div:not(:first-child) {
      margin-left: 10px;
  }

.actualFavSongs::-webkit-scrollbar{
    display: none;
}
