* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
::placeholder {
  color: white;
  opacity: 0.5;
}
body {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.container {
  max-height: 950px;
  max-width: 700px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.top-title {
  color: #ffff;
  font-weight: 900;
  font-size: 18px;
  flex: 0.15;
  left: 0px;
  top: 0px;
  background: #0c0c0c;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movies {
  flex: 0.85;
  background-color: #1d1d1d;
  padding: 25px 0px 25px 0px;
  overflow: auto;
}
.favorite-movies {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  transition: all 0.5s;
}
.favorite-movies img {
  height: 180px;
  width: 130px;
  border-radius: 20px;
  align-self: center;
}
.favorite-movies p {
  color: white;
  font-weight: 900;
  font-size: 18px;
  padding: 0px 0px 15px 22px;
}
.recommend-movies {
  display: none;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}
.close {
  height: 0;
  animation: close 0.5s;
  opacity: 0%;
}
.open {
  height: fit-content;
  animation: open 0.5s;
  opacity: 100%;
}
@keyframes close {
  0% {
    height: 33%;
  }
  100% {
    height: 0%;
  }
}
@keyframes open {
  0% {
    height: 0%;
  }
  100% {
    height: 33%;
  }
}
.recommend-movies p {
  color: white;
  font-weight: 900;
  font-size: 18px;
  padding: 0px 0px 15px 22px;
}
.recom-movie-list {
  display: flex;
  gap: 18px;
  overflow: scroll;
  margin-left: 22px;
}
.recom-movie-list img {
  height: 201px;
  width: 135px;
  border-radius: 20px;
}

.fav-movie-list {
  display: flex;
  overflow: scroll;
  margin-left: 22px;
}

.fav-movie-list div:not(:first-child) {
  margin-left: 18px;
}
.fav-movie-list img {
  height: 201px;
  width: 135px;
  border-radius: 20px;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 341px;
  height: 38px;
  background: #727272;
  border-radius: 12px;
  margin-left: 22px;
  margin-right: 22px;
  padding: 0px 20px 0px 20px;
  transition: 0.5s all;
}
.searchInput {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.searchInput input {
  height: 33px;
  color: white;
  background-color: #727272;
  margin: none;
  border: none;
  outline: none;
  border-radius: 20px;
}
.x {
  font-weight: 35px;
  height: 35px;
  color: white;
  display: none;
  position: absolute;
  top: 15vh;
  right: 5vw;
  cursor: pointer;
}
.trending-movies {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  transition: all 0.5s;
}
.trending-movies p {
  padding-top: 25px;
  color: white;
  font-weight: 900;
  font-size: 18px;
  padding: 22px 0px 15px 22px;
}
.trend-movie-list {
  display: flex;
  overflow: scroll;
  margin-left: 22px;
}

.trend div:not(:first-child) {
  margin-left: 18px;
}

.trend-movie-list img {
  height: 201px;
  width: 135px;
  border-radius: 20px;
  /* margin-bottom: 80px; */
}
.bottom-test {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}
.pop-up-add {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s all;
  z-index: -1;
}
.movie-info {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
  height: 75vh;
  width: 100vw;
  background-color: #1d1d1d;
  bottom: -80vh;
  border-radius: 20px 20px 0px 0px;
  transition: 1s all;
  position: absolute;
}
.drag {
  width: 63px;
  height: 7px;
  background: #727272;
  border-radius: 20px;
  margin-top: 12px;
}
.close-modal {
  position: absolute;
  color: white;
  font-size: 30px;
  right: 5%;
  top: 1%;
}
.info {
  padding: 30px 24px 0px 24px;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 85%;
}
.info img {
  height: 201px;
  width: 135px;
  border-radius: 20px;
}
.info-text {
  display: flex;
  flex-direction: column;
}
.info-small-text {
  font-size: 12px;
  font-weight: 900;
  color: #bebdbd;
  padding-top: 10px;
}
.info-big-text {
  font-size: 24px;
  font-weight: 900;
}
.info-text .trailer {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #e81a1a;
}
.description {
  padding: 10px;
}
.description-text {
  font-weight: 900;
  font-size: 12px;
  overflow: auto;
  color: white;
  height: 5vh;
  padding: 1px 0px 1px 0px;
}
.companies-images {
  display: flex;
  width: 98vw;
  height: fit-content;
  padding: 10px 0px 10px 0px;
  overflow-x: auto;
}

.companies-images img:not(:first-child) {
    margin-left: 20px;
}
.companies-images img {
  width: fit-content;
  max-height: 40px;
}
.add-fav {
  display: flex;
  width: 75vw;
  height: 12vw;
  background-color: #1a73e8;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 7px;
}
.add-fav p {
  font-size: 18px;
}
.imbd-page {
  color: white;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
}
.iframe {
  position: absolute;
  top: 10vh;
  left: -130vw;
  transition: 0.5s all;
}
.already-added img {
  position: absolute;
  top: 5vh;
  right: 5vw;
  height: 30%;
  display: flex;
  transition: all 0.2s;
}

@media screen and (max-width: 700px) {
}
